.main {
    background-color: rgba(81, 0, 0, 0.9);
    width: 800px;
    margin: 0 auto;
}
.main__container {
    max-width: 400px;
    margin: 0 auto;
    
}
.blocks {


}

.blocks img{
    width: 150px;
    max-height: 150px;
}

/* ------------------------------------------------ */

.background,
.back2,
.back3,
.back4,
.back5{
    width: 150px;
    height: 150px;
}

.background:active, 
.back2:active,
.back3:active,
.back4:active,
.back5:active{
    display: none;
}

.background{
    background-color: rgb(77, 77, 206);
}

.back2{
    background-color: rgb(3, 82, 56);
}

.back3{
    background-color: rgb(153, 114, 64);
}
.back4{
    background-color: rgb(78, 43, 0);
}
.back5{
    background-color: rgb(30, 0, 0);
}

.blocks img{
    display: none;
}

/* ------------------------------------ */

.background:active + .first-img{
    display: inline-block;
}

.back2:active + .second{
    display: inline-block;
}

.back3:active + .third{
    display: inline-block;
}

.back4:active + .fourth{
    display: inline-block;
}

.back5:active + .fifth{
    display: inline-block;
}

/* ------------------------------------ */


.blocks * {
    display: inline-block;
}


/*------------------------------------ */ 

.first-img:target{
    display: inline-block;
}

.second:target{
    display: inline-block;
}

.third:target{
    display: inline-block;
}

.fourth:target{
    display: inline-block;
}

.fifth:target{
    display: inline-block;
}


/* ------------------------------------------------ */

.infromation{
    display: block;
    color: white;
}

.infromation a{
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 0 0 10px 0;

}



.link__uno::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(77, 77, 206);
    margin-left: 10px;
    
}

.infromation a:nth-child(3)::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(3, 82, 56);
    margin-left: 10px;
    
}

.infromation a:nth-child(4)::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(153, 114, 64);
    margin-left: 10px;
    
}

.infromation a:nth-child(5)::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(78, 43, 0);
    margin-left: 10px;
    
}

.infromation a:nth-child(6)::after{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(30, 0, 0);
    margin-left: 10px;
    
}